node_modules
npm-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
.idea
.vscode
#.env
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
#tauranet_db.sql
#tauranet_db_dump.sql