/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#.env
#.env.*
.phpunit.result.cache

# Ignorar el contenido de storage excepto las carpetas requeridas
/storage/*
!storage/app/
!storage/framework/
!storage/logs/
!storage/framework/cache/
!storage/framework/sessions/
!storage/framework/views/
!storage/**/*.gitkeep


/public/storage
/.DS_Store

Dockerfile_7